{% extends 'base.html' %}

{% block content %}
<div class="container"> 
<h2>{% block titlt %} About Us {% endblock %}</h2>

<p>
    We help organisations and companies to be more efficient and productive by providing them with the right softwares. <br>
    We also help organisation to develop all types of websites to meet their businesses needs.
</p>
<p>
    Our mission is to provide outstanding customer services and to produce high quality of work to our Clients and to be <br>
     a leading software developing company across UK, Europe and Worldwide. <br>
</p>
<p>
    <b>Our History </b> <br>
    Binah Softwares was founded and establish by Nana Kwabena whose has background first degree in Mathematics, <br>
    Statistics and Economics and also Masters Degree in Software Engineering for Technical computing. Nana Kwabena <br>
    started by developing websites for small businesses in his local area and demand for his service grew high that he <br>
    alone could not provide his service to meet the demand of his clients. So, Nana Kwabena decided to employ more <br>
    software engineers and developers to provide helping hands to meet the demand of his client. <br>
</p>

<p> 
    We have grown so large that we now have Marketing team, our HR department, large team of software engineers and <br>
    developers, accounting and finance department etc.</p>
</p>
<p>
    <b>  Our Team </b> <br>
    With the trusted trust and reputation we have built with our clients for more than two decades, we now have a solid and<br>
    reliable team of engineers equip with high level of skills to provide solutions to problems our client are facing at<br>
    their work place. <br>
</p>
    <br>
    <img src="static/images/dis4.jpg"> <br>
    Extremely beautiful friendly working environment. 
    <br>
    <br>
    <img src="static/images/sf1.jpg"> <br>
    Kofi one of our senior SoftWare Engineer
    <br>
    <br>
    <img src="static/images/sf3.jpg" >
    Julie a dedicated hard working Software Engineer
    <br>


</div>

{% endblock %}