{% extends 'base.html' %}

{% block content %}

<h2 class="container">{% block titlt %} Home {% endblock %}</h2>
<div id="slider">
    <figure >
        <img src="static/images/ofex4.jpg" alt="">
        <img src="static/images/ofex2.jpg ">
        <img src="static/images/bm2.jpg">
        <img src="static/images/sf2.jpg">
        <img src="static/images/ofex4.jpg">
    </figure>
</div><br>
<div class="container"> 
<p>
    Binah Softwares: We are softwares developing Company and we develop software for all kinds of businesses including <br>
    financial companies, IT Companies etc. Our Company is located at the centre of the city of Manchester. We do not only<br>
     develop softwares for businesses,we also develop all different types of websites including full stack websites and mobile phone apps.
     <br>
</p>
</div>
 <p>
     <img src="static/images/team1.jpg"> <br>
     Meet some of our team members.
 </p>
{% endblock %}