{% extends 'base.html' %}

{% block content %}
<div class="container"> 
<h2>{% block titlt %} Support {% endblock %}</h2>

<p>
    We have a dedicated support team, both in call to premises or in our premises support and customer services team.<br>
    Before we work with our clients we send our team of engineers to visit the client premises to see how our clients<br>
    work and also to identify their problems and challenges and what we can do to help our client to resolve these<br>
    problems and challenges for them to become more efficient and productive and this service is free of charge.<br>
</p>
<div>  
    <img src="static/images/cs2.jpg"> <br>
    Our On Premises Customer Service Desk
    <br>
    <br>

    <img src="static/images/cs3.jpg">
    <img src="static/images/cs1.jpg">
    <br>
    Our Dedicated In And Outbound Customer Service Team 
    <br>
</div> 
<div>
    <br>
    <h4 class="square"> Tel: 0161 2222 333 </h4><br>
    <h4  class="square1"> Email: support@binahsoftwares.com </h4> <br>
</div>
</div>

{% endblock %}